<% include ../partials/header.ejs %>
<div class="container">
  <div class="articleBox">
    <h1><%= myArticle.title %></h1>
    <p><%= myArticle.body %></p>
  </div>
</div>


<% include ../partials/footer.ejs%>