body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #e4d8b2f5;
  color: #444;
}
.container {
  grid-template-columns: 1fr 1fr 1fr 1fr;  
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "sidebar main main sidebar"
    "footer footer footer footer";


  }
.header {
  display: grid;
  grid-area: header;
  align-items: center;
}
img {
  width: 75%;
}
.sidebar {
  display: grid;
  grid-area: sidebar;
}
.main {
  display: grid;
  grid-area: main;
}
.footer {
  display: grid;
  grid-area: footer;
}
.articleBox {
  background-color: whitesmoke;
  border: 2px solid black;
  margin: 1em;
}
