body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #e4d8b2f5;
  color: #444;
}
.container {
  display: grid;
  width: 90vw;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}
  .articleBox {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: e4d8b2f5;
    border: 2px solid black;
    width: 50vw;
    padding: 1em;
    margin: 1em;
  }
  .header, img {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 60vw;
  }
  
  .footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid black;
  }
